@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.container {
  min-height: 100vh;
}

.left {
  width: 40vw;
  padding: 10px;
}

.right {
  min-width: 70vw;
  margin: 16px 5px;
  position: relative;
}

.home ul li {
  display: flex;
  gap: 15px;
  width: 14px;
  list-style: none;
  padding-top: 14px;
  font-weight: bold;
}

.heading {
  display: flex;
  align-items: center;
  gap: 15px;
  width: 100%;
  padding: 23px 14px;
  font-size: 13px;
  font-weight: bold;
}

.heading img {
  width: 25px;
}

.close {
  display: none;
}

.library {
  min-height: 80vh;
  position: relative;
}

.footer {
  display: flex;
  justify-content: space-around;
  font-size: 11px;
  color: grey;
  gap: 13px;
  position: absolute;
  bottom: 0;
  padding: 10px 0;
}

.footer a {
  color: grey;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

.header {
  display: flex;
  justify-content: space-between;
  height: 60px;
  align-items: center;
  background-color: rgb(34, 34, 34);
}

.header > * {
  padding: 20px;
}

.nav svg {
  background-color: #000;
  border-radius: 50%;
}

.hamburger {
  display: none;
}

.spotify-playlists {
  padding: 16px;
}

.card-container {
  margin: 30px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  overflow-y: scroll;
  max-height: 60vh;
}

.spotify-playlists .card {
  position: relative;
  width: 200px;
  padding: 10px;
  border-radius: 5px;
  background-color: rgb(34, 34, 34);
}

.card > * {
  padding-top: 10px;
}

.card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.play {
  position: absolute;
  top: 125px;
  right: 17px;
  opacity: 0;
  transition: all 1s ease-out;
}

.spotify-playlists .card:hover .play {
  opacity: 1;
}

.card:hover + .play {
  opacity: 1;
}

.circular-box {
  width: 50px;
  height: 50px;
  background-color: #1fdf64;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.circular-box svg {
  width: 50%;
  height: 50%;
  fill: #000000;
}

.buttons > * {
  margin: 0 12px;
}

.signup-btn {
  background-color: rgb(250, 250, 250);
  padding: 10px;
  border-radius: 21px;
  color: #1fdf64;
  border: 0;
  cursor: pointer;
  font-weight: 700;
  font-size: 14px;
  transition: all 0.7 ease-in-out;
}

.signup-btn:hover {
  transition: all 0.3s ease-in-out;
  background-color: white;
  transition: all 0.7 ease-in-out;
  color: black;
}

.login-btn {
  color: #000;
  background-color: #fff;
  border-radius: 21px;
  padding: 10px;
  width: 79px;
  cursor: pointer;
  border: 0;
  font-weight: bold;
  font-size: 14px;
  transition: background-color 0.5s ease-in-out;
}

.login-btn:hover {
  background-color: #1fdf64;
  color: #fff;
}

.playbar {
  position: absolute;
  bottom: 30px;
  border-radius: 20px;
  background-color: #0d9488;
  width: 90%;
  padding: 12px;
  height: 60px;
}

.play-now:hover {
  color: gray;
}

.songs {
  overflow-y: scroll;
  margin-bottom: 20px;
}

.song-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.song-buttons img {
  font-weight: bold;
  filter: invert(1);
}

.song-list ul {
  font-size: 15px;
  height: 400px;
  padding: 0 12px;
}

.song-list ul li {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10px 0;
  padding: 12px 0;
  background-color: rgb(34, 34, 34);
  border-radius: 5px;
}

.play-button img {
  background-color: white;
  border-radius: 50%;
}

.play-button img:hover {
  background-color: grey;
}

.seekbar {
  height: 6px;
  width: 96%;
  background-color: #030712;
  margin: 6px;
  position: absolute;
  bottom: 1px;
  border-radius: 50px;
}

.circle {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #1fdf64;
  border: 2px solid #030712;
  position: relative;
  bottom: 6px;
  left: 0%;
  transition: left 0.5s;
}

.above-bar {
  display: flex;
  justify-content: space-between;
  gap: 25%;
}

.song-info {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  text-shadow: 1px 1px 0px #1fdf64;
}

@media (max-width: 1280px) {
  .song-card img {
    display: none;
  }

  .play-button {
    display: none;
  }

  .play-now {
    display: none;
  }
}

@media (max-width: 890px) {
  .song-info {
    display: none;
  }

  .close {
    display: block;
  }

  .left {
    position: absolute;
    left: -100%;
    transition: all 0.7s ease-in-out;
    z-index: 100;
    background-color: #000;
    width: 100%;
  }

  .song-card img {
    display: block;
  }

  .play-now {
    display: block;
  }

  .right {
    width: 100vw;
    margin: 0;
  }
}

@media (max-width: 768px) {
  .playbar {
    width: 92vw;
    z-index: 100;
  }

  .card-container {
    margin: 10px;
    justify-content: center;
  }

  .logo {
    display: flex;
    justify-content: space-between;
  }

  .hamburger {
    display: block;
  }

  .song-card img {
    display: block;
  }

  .play-now {
    display: block;
  }

  .arrow-pointing {
    display: none;
  }

  .seekbar {
    width: 94%;
  }

  .container {
    height: 100%;
  }

  .song-list ul {
    height: 276px;
  }

  .library {
    min-height: 70vh;
  }
}

@media (max-width: 480px) {
  .seekbar {
    width: 88%;
  }

  .playbar {
    position: fixed;
    bottom: 7px;
  }
}
