@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.left {
  width: 25vw;
  padding: 10px;
}

.right {
  width: 75vw;
  margin: 16px 0;
}

.home ul li {
  display: flex;
  gap: 15px;
  width: 14px;
  list-style: none;
  padding-top: 14px;
  font-weight: bold;
}

.heading {
  display: flex;
  align-items: center;
  gap: 15px;
  width: 100%;
  padding: 23px 14px;
  font-size: 13px;
  font-weight: bold;
}

.heading img {
  width: 25px;
}

.library {
  min-height: 80vh;
  position: relative;
}

.footer {
  display: flex;
  font-size: 10px;
  color: grey;
  gap: 13px;
  position: absolute;
  bottom: 0;
}

.footer a {
  color: grey;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: rgb(34, 34, 34);
}

.header > * {
  padding: 20px;
}

.spotify-playlists {
  padding: 16px;
}

.card-container {
  margin: 30px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.spotify-playlists .card {
  position: relative;
  width: 200px;
  padding: 10px;
  border-radius: 5px;
  background-color: rgb(34, 34, 34);
}

.card > * {
  padding-top: 10px;
}

.card img {
  width: 100%;
  object-fit: contain;
}

.play {
  position: absolute;
  top: 168px;
  right: 17px;
  opacity: 0;
  transition: all 1s ease-out;
}

.circular-box {
  width: 50px;
  height: 50px;
  background-color: #1fdf64;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.circular-box svg {
  width: 50%;
  height: 50%;
  fill: #000000;
}
